
			<div id="gradient"></div>
					
					
					<div class="container">	
						
						<h3> Forgot Password</h3>
						
						<div class="jumbotron">
							  <p> Inorder to help you access the application, please enter your email address. 
							  An email verification link will be sent to the below account.
							  Please click on the link received in your email to continue. </p>
					  
						<form action="action_page.php" class="form">
							  E-mail:
							  <input type="email" name="email"></br>
							  <input id="submit"type="submit">
						</form>
						
						</div>
				
					</div>

