
						
				<div class="row">
				
					<h1 style="color:#074679;margin-left:39px;margin-top:100px"> Welcome to TraQtion portal</h1>
					
					<p style="margin-left:39px;margin-top:10px">Please login using email address and password you used to register. 
					If you dont have username,please contact your company's Traqtion administrator to request access.
					If you dont know who your administrator is,please contact Traqtion support@traqtion.com assistance.  </p>
					
					<address style="margin-left:39px;margin-top:10px"> 
					contact:<br>
					Traqtion Support<br> 
					Phone:+1-734-214-6220<br> 
					Email:support@traqtion.com
					</address>
					
					<div class="loginForm-group">
						<div>
							<h3 style="margin-left:49px;font-family:Lato Regular;color:#074679">Login</h3><hr></hr>
								<div class="formgroup">
									<form novalidate>&nbsp
										
										<label style="font-family:Lato Regular">Email Id:</label><span style="color:red;">*</span>
										<input type="email" ng-model="user.emailid"><br>
											
										<label style="font-family:Lato Regular;">Password:</label><span style="color:red;">*</span>
										<input style="margin-top:14px" type="password" ng-model="user.password"><br><br>		
											
											<button class="button" ng-click="login()">Login</button>
											<a class="forgotpassword" style="margin-left:39px;font-family:Lato Regular" href="#forgotpassword">Forgot Password</a>
									</form> 
									
									
								</div>
						</div>

							<!--<script>
							var app = angular.module('myApp', []);
							app.controller('formCtrl', function($scope) {
								$scope.EmailId = {"govi4192gmail.com"};
								$scope.password = {"Chary@419"};
								
								};
						
							});
							

						
							</script>-->
					</div>
					</div>
				