<div ng-controller="nsfTraqtionloginctrl" class="formContent">
    <div class="formDiv">
        <form>

            <div><label>First Name</label><input ng-model="formValues.firstName"/></div>
            <div><label>Last Name</label><input ng-model="formValues.lastName"/></div>
            <div><label>E-mail</label><input  ng-model="formValues.emailId"/></div>
            <div><label>Phone</label><input  ng-model="formValues.phone"/></div>

        </form>
        <div class="btnDiv"><button class="primary" ng-click="submitForm();">Submit</button></div>
    </div>    
</div>